<h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>{{title}}</span></h5>
<ol class="breadcrumbs mb-0">
  <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการสมาชิก</a>
  </li>
  <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">ผู้ใช้งานระบบ</a>
    </li> -->
  <li class="breadcrumb-item active">{{title}}
  </li>
</ol>
<br>
<br>
<ngx-spinner>
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<!-- BEGIN: Page Main-->

<div class="row">
  <div class="col s12">
    <div class="container">
      <section class="users-list-wrapper section">
        <div class="users-list-filter">
          <!-- Header -->
          <div class="card-panel" style="margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
              <div class="col s8">
                <span class="material-icons header-icon">
                  border_color
                </span>
                <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px;">
                  {{title}}
                </span>
              </div>
            </div>
          </div>

          <div class="card-panel" style="margin-bottom: 0px; margin-top: 0px;">
            <!-- BEGIN: Do Something This Here -->
            <div class="row" style="display: flow;">

              <!-- ก้อน1 -->
              <div class="col s9">

                <!-- สถานะใช้งาน -->
                <!-- <div class="col s12">
                  <csw [hidden]="!category.approveAction" (cModel)="editModel.isActive = $event" [label]="'ใช้งาน'"
                    [data]="editModel.isActive"></csw>
                </div> -->

                <!-- <div class="row">
                  <div class="col s6">
                    <citxt (cModel)="editModel.username = $event" [label]="'ชื่อผู้ใช้ : '"
                      [data]="editModel.username || ''"></citxt>
                  </div>
                  <div class="col s6">
                    <citxt (cModel)="editModel.password = $event" [label]="'รหัสผ่าน : '"
                      [data]="editModel.password || ''"></citxt>
                  </div>
                </div> -->

                <div class="row">

                  <div class="col s6">
                    <csop (cModel)="editModel.status = $event" [label]="'สถานะ'" [data]="editModel.status ||'N'"
                      [sources]="[{ value: 'R', display: 'ไม่อนุมัติ' },{ value: 'N', display: 'รออนุมัติ' }, { value: 'A', display: 'อนุมัติ' }]">
                    </csop>
                  </div>
                  <div class="col s6">

                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <!-- <citxt (cModel)="editModel.idcard = $event" [label]="'บัตรประจำตัวประชาชน : '"
                      [data]="editModel.idcard || ''"></citxt> -->
                    <citxt (cModel)="editModel.email = $event" [label]="'อีเมล : '" [data]="editModel.email || ''">
                    </citxt>
                  </div>
                  <div class="col s6" style="padding-bottom: 20px;">
                    <csop (cModel)="editModel.prefixName = $event" [label]="'คำนำหน้าชื่อ : '"
                      [data]="editModel.prefixName || 'none'" [sources]="listPrefixName">
                    </csop>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <citxt (cModel)="editModel.firstName = $event" [label]="'ชื่อ : '"
                      [data]="editModel.firstName || ''"></citxt>
                  </div>
                  <div class="col s6">
                    <citxt (cModel)="editModel.lastName = $event" [label]="'นามสกุล : '"
                      [data]="editModel.lastName || ''"></citxt>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12" style="padding-bottom: 40px !important;">
                    <span
                      style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px;">
                      มีตวามประสงค์ร่วมงาน/กิจกรรมพรรค
                    </span>
                    <ccb (cModel)="editModel.volunteerWorkArea = $event" [label]="'อาสาสมัครทำงานพื้นที่'"
                      [data]="editModel.volunteerWorkArea"></ccb>
                    <ccb (cModel)="editModel.thinkTank = $event" [label]="'คลังสมอง'" [data]="editModel.thinkTank">
                    </ccb>
                    <ccb (cModel)="editModel.trainingDemocrats = $event" [label]="'อบรมยุวประชาธิปัตย์'"
                      [data]="editModel.trainingDemocrats"></ccb>
                    <ccb (cModel)="editModel.applyPartyMembership = $event" [label]="'สมัครสมาชิกพรรค'"
                      [data]="editModel.applyPartyMembership"></ccb>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col s6">
                    <cdp (cModel)="editModel.birthDay = $event" [label]="'วันเกิด'" [data]="editModel.birthDay"></cdp>
                  </div>
                  <div class="col s6">
                    <citxt (cModel)="editModel.phone = $event" [label]="'เบอร์โทรศัพท์ : '"
                      [data]="editModel.phone || ''"></citxt>
                  </div>
                </div> -->
                <!-- <div class="row">
                  <div class="col s6">
                    <citxt (cModel)="editModel.email = $event" [label]="'อีเมล : '" [data]="editModel.email || ''">
                    </citxt>
                  </div>
                  <div class="col s6"></div>
                </div> -->
              </div>
              <!-- ก้อน3 -->
              <!-- <div class="col s3">
                <div class="col s12">
                  <cds (cModel)="editModel.image = $event" [label]="'รูปถ่ายตนเอง (เลือกภาพ/วางภาพที่นี่)'"
                    [data]="[{ imageUrl: this.editModel.imageUrl || '' }]" [code]="'member-mobile'">
                  </cds>
                </div>
                <div class="col s12" style="color: red;padding-top: 20px;">
                  <span>*Maximum 10 MB</span>
                </div>
              </div>
              <div class="col s3">
                <div class="col s12">
                  <cds (cModel)="editModel.imageIdCard = $event" [label]="'รูปถ่ายบัตรประชาชน (เลือกภาพ/วางภาพที่นี่)'"
                    [data]="[{ imageUrl: this.editModel.imageIdCardUrl || '' }]" [code]="'member-mobile'">
                  </cds>
                </div>
                <div class="col s12" style="color: red;padding-top: 20px;">
                  <span>*Maximum 10 MB</span>
                </div>
              </div> -->
            </div>
            <!-- END: Do Something This Here -->
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col s12">
    <div class="container">
      <section class="users-list-wrapper section">
        <div class="users-list-filter">
          <div class="card-panel" style="margin-bottom: 0px; background-color:lavender; vertical-align: text-top;">
            <div class="row">
              <div class="col s8">
                <span class="material-icons header-icon">
                  border_color
                </span>
                <span style="position: relative; float:left; font-size: 1em; padding-left: 10px; padding-top: 10px;">
                  ที่อยู่และรูปแบบการเป็นสมาชิก
                </span>
              </div>
            </div>
          </div>

          <div class="card-panel">
            <div class="row">
              <div class="col s4">
                <div class="col s12">
                  <citxt (cModel)="editModel.address = $event" [label]="'ที่อยู่ : '" [data]="editModel.address || ''">
                  </citxt>
                </div>
                <div class="col s12">
                  <citxt (cModel)="editModel.soi = $event" [label]="'ซอย : '" [data]="editModel.soi || ''"></citxt>
                </div>
                <div class="col s12">
                  <csop (cModel)="readCategoryTambon($event)" [label]="'อำเภอ/เขต : '" (click)="validProvince()"
                    [data]="editModel.amphoeCode " [sources]="listCategoryDistrict">
                  </csop>
                </div>
              </div>
              <div class="col s4">
                <div class="col s12">
                  <citxt (cModel)="editModel.village = $event" [label]="'อาคาร/หมู่บ้าน : '"
                    [data]="editModel.village || ''">
                  </citxt>
                </div>
                <div class="col s12">
                  <citxt (cModel)="editModel.road = $event" [label]="'ถนน : '" [data]="editModel.road || ''"></citxt>
                </div>
                <div class="col s12" style="padding-bottom: 20px;">
                  <csop (cModel)="readCategoryPostCode($event)" [label]="'ตำบล/แขวง : '" (click)="validDistrict()"
                    [data]="editModel.tambonCode || 'none'" [sources]="listCategoryTambon">
                  </csop>
                </div>

              </div>
              <div class="col s4">
                <div class="col s12">
                  <citxt (cModel)="editModel.moo = $event" [label]="'หมู่ที่ : '" [data]="editModel.moo || ''"></citxt>
                </div>

                <div class="col s12" style="padding-bottom: 20px;">
                  <csop (cModel)="readCategoryDistrict($event)" [label]="'จังหวัด : '" [data]="editModel.provinceCode "
                    [sources]="listCategoryProvince">

                  </csop>
                </div>

                <div class="col s12" style="padding-bottom: 20px;">
                  <csop (cModel)="editModel.postnoCode = $event" [label]="'รหัสไปรษณีย์ : '" (click)="validTambon()"
                    [data]="editModel.postnoCode || 'none'" [sources]="listCategoryPostCode">
                  </csop>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s9">
                <div class="col s9">
                  <div class="col s12" style="margin-bottom: 10px;">
                    <span>รูปแบบการเป็นสมาชิก</span>
                  </div>
                  <div class="col s12">
                    <label>
                      <input type="radio" name="membership" [(ngModel)]="editModel.membershipType" value="monthly" />
                      <span>ลงทะเบียนสมาชิกแบบรายเดือน (20 บาท/ปี)</span>
                    </label>
                    <br>
                    <label>
                      <input type="radio" name="membership" [(ngModel)]="editModel.membershipType" value="lifetime" />
                      <span>ลงทะเบียนสมาชิกตลอดชีพ (200 บาท)'</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col s3">
                <div class="col s12">
                  <cds (cModel)="editModel.imagePayment = $event"
                    [label]="'รูปถ่ายหลักฐานการโอนชำระเงินค่าลงทะเบียนสมาชิก (เลือกภาพ/วางภาพที่นี่)'"
                    [data]="[{ imageUrl: this.editModel.imagePaymentUrl || '' }]" [code]="'member-mobile'">
                  </cds>
                </div>
                <div class="col s12" style="color: red;padding-top: 20px;">
                  <span>*Maximum 10 MB</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col s12">
    <div class="container">
      <section class="users-list-wrapper section">
        <div class="users-list-filter">
          <div class="card-panel" style="margin-bottom: 0px; margin-top: 0px;">

            <!-- BEGIN: Do Something This Here -->

            <div class="row" [hidden]="isSaveSuccess">
              <div class="col s12" style="text-align: center; margin-top: 10px;">
                <cbtn [hidden]="code != ''" (click)="create()" [label]="'บันทึก'" [color]="'blue'"></cbtn>
                <cbtn [hidden]="code == ''" (click)="update()" [label]="'บันทึก'" [color]="'blue'"></cbtn>
                <cbtn [label]="'ยกเลิก'" [color]="'red'" (click)="back()"></cbtn>
              </div>
            </div>

            <!-- END: Do Something This Here -->

          </div>

        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Page Main-->